<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button routerLink = "/admin" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Inicio
      </button>
      <button mat-list-item routerLink = "/admin/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
      </button>
      <button mat-list-item routerLink = "/admin/categorias">
        <mat-icon mat-list-icon>list</mat-icon>Categorías
      </button>
      <button mat-list-item routerLink = "/admin/add-categoria">
        <mat-icon mat-list-icon>add_circle_outline</mat-icon>Agregar categorias
      </button>
      <button mat-list-item routerLink = "/admin/tareas">
        <mat-icon mat-list-icon>quiz</mat-icon>Tareas
      </button>
      <button mat-list-item routerLink = "/admin/add-tarea">
        <mat-icon mat-list-icon>add</mat-icon>Agregar Tareas
      </button>
    </mat-action-list>
  </mat-card>
  
